<template>
 <div id="app">esw1>{{ msg }}</h1>
   <div class="row" id="caseList">
       <h2>Case List</h2>
       <table v-if="hasCases">
           <thead>
               <tr>
                   <th>date</th>
                   <th>cases</th>
                   <th>deaths</th>
               </tr>
           </thead>
           <tbody>
               <tr v-for="r in rs" :key="r.date">
                   <td>{{ r.date }} </td>
                   <td>{{ r.cases }}</td>
                   <td>{{ r.deaths }}</td>
               </tr>
           </tbody>
       </table>
       <p v-if="noCases">No cases yet!</p>
   </div>
</template>

<script>
import axios from "axios";
import * as M from "materialize-css";
import moment from "moment";

export default {
 name: "app",
 computed: {
   hasCases() {
   console.log(this.rs.length);
     return this.isLoading === false && this.rs.length > 0; 
   },
   noCases() {
   console.log(this.rs.length);
    
     return this.isLoading === false && this.rs.length === 0;
   }
 },
 data() {
   return {
     rs: [],
     isLoading: true,
    };
 },
 methods: {   
   formatcases( r ) {
   console.log(r);
     return r.map( r => {
       return {
       date: r.date,
       cases: r.cases,
       deaths: r.deaths
       };
     } );
   },
   loadCases() {
     axios
       .get( "/api/us" )
       .then( res => {
         this.isLoading = false;
         this.rs= this.formatcases( res.data );
       console.log(res.data.length);
       } )
       .catch( err => {
         this.msg = err.message;
         console.log( err );XMLDocument
       } );
   }
 },
 mounted() {
   return this.loadCases();
 }
};
</script>

<style lang="css">
#app h2 {
 font-size: 2rem;
}
.datetime-label {
 color: #9e9e9e;
 font-size: .8rem;
}
</style>