<!--========== START COMPONENT ELEGANT LINE SEPARATOR ==========-->
  <div class="component-elegant-line-separator">
    <div class="container">
      <div class="line-separator-full"><span></span></div>
    </div>
  </div>
<!--========== END COMPONENT ELEGANT LINE SEPARATOR ==========-->