<!--========== START COMPONENT BLOG TITLE ==========-->
  <div class="component-blog-title">
    <div class="container">
      <div class="title">
        <h2>BLOG</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
    </div>
  </div>
<!--========== END COMPONENT BLOG TITLE ==========-->