<!--========== START COMPONENT BOXES STYLE 1 ==========-->
  <div class="component-boxes-style-1">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Boxes Style 1</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <div class="icon hint--primary hint--top" data-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui tortor, aliquam a urna ac.">
            <span class="fa fa-tint"></span>
            <div class="arrow-bar"></div>
          </div>
          <h3>Brand & Identity</h3>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="icon hint--primary hint--top" data-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui tortor, aliquam a urna ac.">
            <span class="fa fa-sun-o"></span>
            <div class="arrow-bar"></div>
          </div>
          <h3>Analytics</h3>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="icon hint--primary hint--top" data-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui tortor, aliquam a urna ac.">
            <span class="fa fa-pagelines"></span>
            <div class="arrow-bar"></div>
          </div>
          <h3>Graphic Design</h3>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="icon hint--primary hint--top" data-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui tortor, aliquam a urna ac.">
            <span class="fa fa-picture-o"></span>
            <div class="arrow-bar"></div>
          </div>
          <h3>Photography</h3>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="icon hint--primary hint--top" data-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui tortor, aliquam a urna ac.">
            <span class="fa fa-try"></span>
            <div class="arrow-bar"></div>
          </div>
          <h3>Logo Design</h3>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="icon hint--primary hint--top" data-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui tortor, aliquam a urna ac.">
            <span class="fa fa-twitter"></span>
            <div class="arrow-bar"></div>
          </div>
          <h3>Social</h3>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT BOXES STYLE 1 ==========-->