<!--========== START COMPONENT BOXES STYLE 3 ==========-->
  <div class="component-boxes-style-3">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Boxes Style 3</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="content">
        <div class="row">
          <div class="col-sm-6 right">
            <div class="row">
              <div class="icon col-sm-2">
                <span class="fa fa-tint">&nbsp;</span>
              </div>
              <div class="details col-sm-10">
                <h3>Brand & Identity</h3>
                <p>Sed congue volutpat pellentesque. Aliquam orci magna, lacinia ac
                  lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="icon col-sm-2">
                <span class="fa fa-sun-o">&nbsp;</span>
              </div>
              <div class="details col-sm-10">
                <h3>Analistic</h3>
                <p>Sed congue volutpat pellentesque. Aliquam orci magna, lacinia ac
                  lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="icon col-sm-2">
                <span class="fa fa-pagelines">&nbsp;</span>
              </div>
              <div class="details col-sm-10">
                <h3>Graphic designer</h3>
                <p>Sed congue volutpat pellentesque. Aliquam orci magna, lacinia ac
                  lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col-sm-6 left">
            <div class="row">
              <div class="icon col-sm-2">
                <span class="fa fa-picture-o">&nbsp;</span>
              </div>
              <div class="details col-sm-10">
                <h3>Photography</h3>
                <p>Sed congue volutpat pellentesque. Aliquam orci magna, lacinia ac
                  lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="icon col-sm-2">
                <span class="fa fa-try">&nbsp;</span>
              </div>
              <div class="details col-sm-10">
                <h3>Logo Design</h3>
                <p>Sed congue volutpat pellentesque. Aliquam orci magna, lacinia ac
                  lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="icon col-sm-2">
                <span class="fa fa-twitter">&nbsp;</span>
              </div>
              <div class="details col-sm-10">
                <h3>Social</h3>
                <p>Sed congue volutpat pellentesque. Aliquam orci magna, lacinia ac
                  lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT BOXES STYLE 3 ==========-->