<!--========== START COMPONENT EMAIL AND MAP ==========-->
  <div class="component-contact-email-and-map padding-in-box-130-100" id="contact">
    <div class="title">
      <h2>Contact Us</h2>
    </div>
    <div class="line-separator"><span></span></div>
    <p class="description">You can send us a message very simple, just click on send a message button below</p>

    <div class="relative">
      <div class="container">
        <div class="row">
          <form class="col-xs-11 col-sm-9 form-1">
            <div class="form-group col-sm-6 col-xs-12">
              <label for="exampleInputText1">Your Name&#42;:</label>
              <input type="text" class="form-control" id="exampleInputText1">
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="exampleInputEmail1">Your Email&#42;:</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="exampleInputText2">Your Phone Number</label>
              <input type="text" class="form-control" id="exampleInputText2">
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="exampleInputText3">Your Website</label>
              <input type="text" class="form-control" id="exampleInputText3">
            </div>
            <div class="form-group col-sm-12 col-xs-12">
              <label for="exampleInputText4">Type Your Message Here</label>
              <textarea rows="4" cols="50" class="form-control" id="exampleInputText4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
<!--========== END COMPONENT EMAIL AND MAP ==========-->