<!--========== START COMPONENT ELEMENT ACCORDIONS ==========-->
  <div class="component-element-accordions">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Accordions</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel-group" id="accordion-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne">

                    <span class="fa fa-coffee"></span>
                    Accordion 1
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  Aliquam orci magna, lacinia ac lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis
                  in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent magna purus, consectetur
                  quis urna quis, dictum interdum tortor. Nullam eros lacus, ultrices a odio eu, mattis bibendum quam.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwo">

                    <span class="fa fa-cloud"></span>
                    Accordion 2
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Aliquam orci magna, lacinia ac lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis
                  in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent magna purus, consectetur
                  quis urna quis, dictum interdum tortor. Nullam eros lacus, ultrices a odio eu, mattis bibendum quam.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree">

                    <span class="fa fa-gift"></span>
                    Accordion 3
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Aliquam orci magna, lacinia ac lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis
                  in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent magna purus, consectetur
                  quis urna quis, dictum interdum tortor. Nullam eros lacus, ultrices a odio eu, mattis bibendum quam.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel-group accordion-inverse" id="accordion-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2">

                    <span class="fa fa-coffee"></span>
                    Accordion 1
                  </a>
                </h4>
              </div>
              <div id="collapseOne-2" class="panel-collapse collapse in">
                <div class="panel-body">
                  Aliquam orci magna, lacinia ac lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis
                  in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent magna purus, consectetur
                  quis urna quis, dictum interdum tortor. Nullam eros lacus, ultrices a odio eu, mattis bibendum quam.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2">

                    <span class="fa fa-cloud"></span>
                    Accordion 2
                  </a>
                </h4>
              </div>
              <div id="collapseTwo-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Aliquam orci magna, lacinia ac lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis
                  in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent magna purus, consectetur
                  quis urna quis, dictum interdum tortor. Nullam eros lacus, ultrices a odio eu, mattis bibendum quam.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2">

                    <span class="fa fa-gift"></span>
                    Accordion 3
                  </a>
                </h4>
              </div>
              <div id="collapseThree-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Aliquam orci magna, lacinia ac lacus id, sodales dignissim nisl. Vestibulum ante ipsum primis
                  in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent magna purus, consectetur
                  quis urna quis, dictum interdum tortor. Nullam eros lacus, ultrices a odio eu, mattis bibendum quam.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT ELEMENT ACCORDIONS ==========-->