<!--========== START COMPONENT FEATURES WORKS ==========-->
<div class="component-featured-works" id="services">
  <div class="padding-in-box-top">
    <div class="title">
      <h2>Featured Works</h2>
    </div>
    <div class="line-separator h80"><span></span></div>
    <div class="contain-gallery" id="gallery">
      <ul>
        <li class="item">
          <img src="assets/image/gallery-image-1.jpg" alt="gallery-image-1">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>girl</span>
              <span class="separator-tags"> &#47; </span>
              <span>photography</span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-2.jpg" alt="gallery-image-2">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>design</span>
              <span class="separator-tags"> &#47; </span>
              <span>illustrator </span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-3.jpg" alt="gallery-image-3">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>girl</span>
              <span class="separator-tags"> &#47; </span>
              <span>photography</span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-4.jpg" alt="gallery-image-4">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>girl</span>
              <span class="separator-tags"> &#47; </span>
              <span>sport</span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-5.jpg" alt="gallery-image-5">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>man</span>
              <span class="separator-tags"> &#47; </span>
              <span>sport</span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-1.jpg" alt="gallery-image-6">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>girl</span>
              <span class="separator-tags"> &#47; </span>
              <span>photography</span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-2.jpg" alt="gallery-image-7">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>design</span>
              <span class="separator-tags"> &#47; </span>
              <span>illustrator </span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-3.jpg" alt="gallery-image-8">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>girl</span>
              <span class="separator-tags"> &#47; </span>
              <span>photography</span>
            </p>
          </div>
        </li>
        <li class="item">
          <img src="assets/image/gallery-image-4.jpg" alt="gallery-image-9">
          <div class="content">
            <p class="title-image">SMILE With Passion</p>
            <p class="tags">
              <span>girl</span>
              <span class="separator-tags"> &#47; </span>
              <span>sport</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--========== END COMPONENT FEATURES WORKS ==========-->