<!--========== START COMPONENT FOOTER BAR ==========-->
<div class="component-footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>2017 &copy; <a href="http://wephisto.ro/">Wephisto</a> . All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
<!--========== END COMPONENT FOOTER BAR ==========-->