<!--========== START COMPONENT MILESTONE COUNTERS 2 ==========-->
  <div class="component-milestone-counters-2">
    <div class="container padding-in-box milestone">
      <div class="title">
        <h2>Milestone Counters 2</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="row">
        <div class="item col-md-3 col-sm-6">
          <p class="picture">
            <span class="fa fa-magic"></span>
          </p>
          <p class="name">
            <span class="highlight">Finished Projects</span>
          </p>
          <p class="number">
            <span>469</span>
          </p>
        </div>
        <div class="item col-md-3 col-sm-6">
          <p class="picture">
            <span class="fa fa-fire"></span>
          </p>
          <p class="name">
            <span class="highlight">Cups of Tea</span>
          </p>
          <p class="number">
            <span>21469</span>
          </p>
        </div>
        <div class="item col-md-3 col-sm-6">
          <p class="picture">
            <span class="fa fa-cogs"></span>
          </p>
          <p class="name">
            <span class="highlight">Ideas</span>
          </p>
          <p class="number">
            <span>1412</span>
          </p>
        </div>
        <div class="item col-md-3 col-sm-6">
          <p class="picture">
            <span class="fa fa-gift"></span>
          </p>
          <p class="name">
            <span class="highlight">Happy Clients</span>
          </p>
          <p class="number">
            <span>9999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT MILESTONE COUNTERS 2 ==========-->