<!--========== START COMPONENT NAVIGATION ==========-->
  <div class="component-navigation" id="first-scroll">
    <div class="container">
      <nav id="scrollSpyMenu" class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".component-navigation .navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html"><img class="logo" src="assets/image/logo.png" alt="logo"></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#costumers">Costumers</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#prices">Prices</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#blog">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="blog.php">Blog</a></li>
                <li><a href="blog-post.php">Blog Post</a></li>
                <li><a href="blog-with-left-sidebar.php">Blog With Left Sidebar</a></li>
                <li><a href="blog-with-right-sidebar.php">Blog With Right Sidebar</a></li>

              </ul>
            </li>
            <li><a href="short-codes.php">Shortcodes</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
<!--========== END COMPONENT NAVIGATION ==========-->