<!--========== START COMPONENT PRICE TABLE ==========-->
  <div class="component-price-table" id="prices">
    <div class="container padding-in-box-top">
      <div class="title">
        <h2>Pricing Table 1</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div class="row">
        <div class="col-sm-3">
          <div class="talon">
            <div class="price">
              <div class="center">
                <h3><span>&#36;</span>
                  69
                </h3>
                <p>/Month</p>
              </div>
            </div>
            <div class="title-talon">
              <h2>BASIC</h2>
            </div>
            <ul class="benefits">
              <li>Web Design</li>
              <li>Web Development</li>
              <li>Photography</li>
              <li>Javascript</li>
              <li>Photoshop</li>
              <li>HTML/CSS</li>
            </ul>
            <a href="#" class="btn btn-primary">Purchase Now</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="talon">
            <div class="price">
              <div class="center">
                <h3><span>&#36;</span>
                  99
                </h3>
                <p>/Month</p>
              </div>
            </div>
            <div class="title-talon">
              <h2>STANDARD</h2>
            </div>
            <ul class="benefits">
              <li>Web Design</li>
              <li>Web Development</li>
              <li>Photography</li>
              <li>Javascript</li>
              <li>Photoshop</li>
              <li>HTML/CSS</li>
            </ul>
            <a href="#" class="btn btn-primary">Purchase Now</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="talon professional">
            <div class="price">
              <span class="badge">hot</span>
              <div class="center">
                <h3><span>&#36;</span>
                  169
                </h3>
                <p>/Month</p>
              </div>
            </div>
            <div class="title-talon">
              <h2>PROFESSIONAL</h2>
            </div>
            <ul class="benefits">
              <li>Web Design</li>
              <li>Web Development</li>
              <li>Photography</li>
              <li>Javascript</li>
              <li>Photoshop</li>
              <li>HTML/CSS</li>
            </ul>
            <a href="#" class="btn btn-primary-inverse">Purchase Now</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="talon">
            <div class="price">
              <div class="center">
                <h3><span>&#36;</span>
                  269
                </h3>
                <p>/Month</p>
              </div>
            </div>
            <div class="title-talon">
              <h2>ULTIMATE</h2>
            </div>
            <ul class="benefits">
              <li>Web Design</li>
              <li>Web Development</li>
              <li>Photography</li>
              <li>Javascript</li>
              <li>Photoshop</li>
              <li>HTML/CSS</li>
            </ul>
            <a href="#" class="btn btn-primary">Purchase Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT PRICE TABLE ==========-->