<!--========== START COMPONENT SEPARATOR SUBSCRIPTION ==========-->
  <div class="component-separator-subscription">
    <div class="container">
      <div class="title">
        <h3>Join My Emailing List</h3>
      </div>
      <div class="row">
        <div class="line-separator h80"></div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetuer <strong>adipiscing elit</strong>,
              sed diam nonummy nibh <span>euismod tincidunt</span> ut laoreet dolore
              magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="line-separator h80"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form action="" class="input-container">
            <input type="email" class="input-email" placeholder="Type your email..."/>
            <button type="submit" class="btn btn-primary">Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT SEPARATOR SUBSCRIPTION ==========-->