<!--========== START COMPONENT SEPARATOR NOTIFICATION ==========-->
  <div class="component-separator-notification">
    <div class="parallax padding-in-box">
      <div class="container">
        <ul>
          <li>
            <p class="social-icon">
              <span class="fa fa-twitter"></span>
            </p>
            <p class="author">
              @awesome
            </p>
            <p class="quotation">
              Aliquam sit amet erat a felis eleifend luctus. Cras nisl nibh, ultrices cursus commodo non,
              ullamcorper id elit. Donec quam elit, mattis euismod ornare sit amet, consectetur eget lorem.
            </p>
            <p class="time-posted">
              3 hours ago
            </p>
          </li>
          <li>
            <p class="social-icon">
              <span class="fa fa-twitter"></span>
            </p>
            <p class="author">
              @awesome
            </p>
            <p class="quotation">
              Aliquam sit amet erat a felis eleifend luctus. Cras nisl nibh, ultrices cursus commodo non,
              ullamcorper id elit. Donec quam elit, mattis euismod ornare sit amet, consectetur eget lorem.
            </p>
            <p class="time-posted">
              3 hours ago
            </p>
          </li>
          <li>
            <p class="social-icon">
              <span class="fa fa-twitter"></span>
            </p>
            <p class="author">
              @awesome
            </p>
            <p class="quotation">
              Aliquam sit amet erat a felis eleifend luctus. Cras nisl nibh, ultrices cursus commodo non,
              ullamcorper id elit. Donec quam elit, mattis euismod ornare sit amet, consectetur eget lorem.
            </p>
            <p class="time-posted">
              3 hours ago
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
<!--========== END COMPONENT SEPARATOR NOTIFICATION ==========-->