<!--========== START COMPONENT SUBSCRIPTION ==========-->
  <div class="component-subscription">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-center-sm">subscribe to my email list</h3>
          </div>
          <div class="col-md-4">
            <input type="text" name="email_address" placeholder="Your Email Address"/>
          </div>
          <div class="col-md-2">
            <button type="submit" class="button-action btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<!--========== END COMPONENT SUBSCRIPTION ==========-->