<!--========== START COMPONENT WHY CHOOSE ==========-->
  <div class="component-why-choose">
    <div class="container padding-in-box-130-100">
      <div class="title">
        <h2>Why Choose Venus</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div id="navigation-services" class="row">
        <div class="col-sm-5 col-xs-12">
          <div class="iMac-why-choose">
            <img src="assets/image/_photo-in-iMac-why-choose.jpg" alt="photo-in-iMac" class="photo-in-iMac"/>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="description">
            <p>
              Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit</span>. Donec porttitor nulla vitae
              arcu posuere, rutrum porta nisi mattis. Duis consectetur vel diam non commodo.
              Cras elementum fermentum turpis vel.
            </p>
          </div>
          <div class="right">
            <div>
              <div class="icon">
                <span class="fa fa-star-o"></span>
              </div>
              <div class="details col-sm-10">
                <h3>Font -Awesome</h3>
                <p>Font Awesome gives you scalable vector icons that can instantly be customized.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div>
              <div class="icon">
                <span class="fa fa-bookmark-o"></span>
              </div>
              <div class="details col-sm-10">
                <h3>Experience</h3>
                <p>You can see our experience from Everest.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div>
              <div class="icon">
                <span class="fa fa-heart-o"></span>
              </div>
              <div class="details col-sm-10">
                <h3>Passionate</h3>
                <p>We are passionate from what are we doing.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div>
              <div class="icon">
                <span class="fa fa-moon-o"></span>
              </div>
              <div class="details col-sm-10">
                <h3>Friendly Code</h3>
                <p>Nam pharetra, est facilisis fermentum rutrum, lectus mauris rhoncus nulla.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT WHY CHOOSE ==========-->