<!--========== START COMPONENT ABOUT DEVICES ==========-->
<div class="component-about-devices" id="about">
  <div class="container padding-in-box-130-120">
    <div class="title">
      <h2>About Venus</h2>
    </div>
    <div class="line-separator"><span></span></div>
    <div class="row">
      <div class="col-sm-12">
        <p>Sed mi justo, dictum non augue vitae, molestie ultrices mi.
          Praesent venenatis consectetur nisi id vulputate. Morbi elementum
          lorem id diam malesuada, in pretium ipsum semper. Aliquam elit augue,
          convallis at nulla ut, laoreet molestie dolor. Duis quis leo in
          neque faucibus congue non ac tortor.
        </p>
      </div>
      <div class="col-sm-10 col-sm-11 col-xs-12 contain-devices">
        <div class="">
          <img src="assets/image/about-image.jpg" alt="about">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!--========== END COMPONENT ABOUT DEVICES ==========-->