<!--========== START COMPONENT BLOG POST SLIDER ==========-->
  <div class="component-blog-post-slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 post-article post-slider">
          <div class="slider-posted">
            <div id="post-slider" class="carousel slide" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="assets/image/blog-image-post-2.jpg" alt="image-post-2"/>
                </div>
                <div class="item">
                  <img src="assets/image/blog-image-post-3.jpg" alt="image-post-3"/>
                </div>
                <div class="item">
                  <img src="assets/image/blog-image-post-4.jpg" alt="image-post-4"/>
                </div>
              </div>

              <!-- Controls -->
              <div class="control-arrow">
                <a href="#post-slider" data-slide="prev">
                  <div class="control"><span class="fa fa-angle-left"></span></div>
                </a>
                <a href="#post-slider" data-slide="next">
                  <div class="control"><span class="fa fa-angle-right"></span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-xs-12 details-posts">
              <div class="date-post">
                <div class="day-contain"><span class="day">25</span></div>
                <div class="month-year-contain">
                  <span class="month">feb</span>
                  <span class="year">2017</span>
                </div>
              </div>
              <div class="type-posts">
                <span class="fa fa-picture-o"></span>
              </div>
            </div>
            <div class="col-sm-11 col-xs-12 container-article">
              <div class="title-post">
                <h1>Post With Slider</h1>
              </div>
              <div class="posting-data">
                <ul>
                  <li>
                    <span>Posted by </span>
                    <span class="fa fa-user"></span>
                    <span>Admin</span>
                  </li>
                  <li class="separator-bar">
                    <span>&#47;</span>
                  </li>
                  <li>
                    <span class="fa fa-tags"></span>
                    <span>Photography, Art, Sport</span>
                  </li>
                  <li class="separator-bar">
                    <span>&#47;</span>
                  </li>
                  <li>
                    <span class="fa fa-folder-open"></span>
                    <span>10</span>
                    <span>Comments</span>
                  </li>
                </ul>
              </div>
              <div class="text-contain">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed mi quis lorem eleifend
                  pellentesque vitae eget dolor. Mauris mattis lorem a quam tempor facilisis. Praesent leo nunc,
                  lobortis non urna eu, iaculis fermentum purus. Ut convallis ornare nibh, et porta quam facilisis
                  sit amet. Fusce varius libero tellus, sit amet aliquam nulla consequat nec. Nulla molestie urabitur
                  sed mi quis lorem eleifend pellentesque vitae eget dolor. Mauris mattis lorem a quam tem.
                </p>
              </div>
              <a href="blog-post.html" class="read-more">Read More <span class="fa fa-arrow-circle-right"></span></a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT BLOG POST SLIDER ==========-->