<!--========== START COMPONENT BLOG POST ==========-->
  <div class="component-blog-post">
    <div class="container-primary">
      <div class="image-posted">
        <img src="assets/image/blog-image-post-1.jpg" alt="image-post-1"/>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-1 col-sm-offset-1 col-xs-12 details-posts">
            <div class="date-post">
              <div class="day-contain"><span class="day">25</span></div>
              <div class="month-year-contain">
                <span class="month">feb</span>
                <span class="year">2017</span>
              </div>
            </div>
            <div class="type-posts">
              <span class="fa fa-picture-o"></span>
            </div>
            <div class="social-icon-posts">
              <ul>
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-sm-9 col-xs-12 post-article">
            <div class="container-article">
              <div class="title-post">
                <h1>Post With Image Full Width</h1>
              </div>
              <div class="posting-data">
                <ul>
                  <li>
                    <span>Posted by </span>
                    <span class="fa fa-user"></span>
                    <span>Admin</span>
                  </li>
                  <li class="separator-bar">
                    <span>&#47;</span>
                  </li>
                  <li>
                    <span class="fa fa-tags"></span>
                    <span>Photography, Art, Sport</span>
                  </li>
                  <li class="separator-bar">
                    <span>&#47;</span>
                  </li>
                  <li>
                    <span class="fa fa-folder-open"></span>
                    <span>10</span>
                    <span>Comments</span>
                  </li>
                </ul>
              </div>
              <div class="text-contain">
                <p>
                  Maecenas molestie malesuada velit non mattis. Vivamus ante libero, pulvinar eget tortor eget,
                  tincidunt scelerisque eros. Etiam at tincidunt lorem, a posuere neque. Curabitur vestibulum
                  egestas ligula, vel rutrum diam porttitor id. Vestibulum non diam in nisi tempor porttitor.
                  In a lectus ac elit iaculis dictum non eu turpis. Curabitur suscipit cursus scelerisque. Class
                  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sed
                  massa risus. Suspendisse potenti. Pellentesque eu lectus nulla. Donec a convallis arcu. Phasellus
                  rutrum interdum sem, in placerat elit aliquet sed. Integer nec pharetra nisi. Vivamus odio est,
                  pharetra vitae elit eu, pulvinar sodales lorem. Pellentesque venenatis neque arcu, vitae ullamcorper
                  quam rutrum eu. <span>Ut feugiat ultrices ipsum egestas congue. Mauris sagittis neque eu urna posuere lacinia.
                                          Vivamus odio est, pharetra vitae elit eu, pulvinar sodales lorem. Pellentesque venenatis neque arcu,
                                          vitae ullamcorper quam rutrum eu:</span>
                </p>
                <ul class="list-items">
                  <li>
                    <div><span class="fa fa-angle-double-right"></span></div>
                    <p>List Item 1</p>
                  </li>
                  <li>
                    <div><span class="fa fa-angle-double-right"></span></div>
                    <p>List Item 2</p>
                  </li>
                  <li>
                    <div><span class="fa fa-angle-double-right"></span></div>
                    <p>List Item 3</p>
                  </li>
                  <li>
                    <div><span class="fa fa-angle-double-right"></span></div>
                    <p>List Item 4</p>
                  </li>
                </ul>
                <p>
                  Ut non porttitor nunc. Curabitur condimentum magna vel nibh sodales aliquam. Ut eget mollis justo. Praesent
                  quis neque nisl. Integer ultricies lorem ac urna imperdiet, in bibendum enim iaculis. Integer congue dui a
                  rutrum iaculis. Ut interdum nec velit at fermentum. In in leo purus. Vivamus a dapibus augue.
                </p>
                <blockquote class="block-quote-secondary">
                  <div class="quote"><span>&#8220;</span></div>
                  <p>Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus. Sed placerat leo
                    lorem, sagittis dapibus nibh accumsan aliquet. Quisque nibh urna, mollis sed nulla ac,
                    molestie porta risus. Cras vitae pretium ipsum, id mattis justo. Suspendisse eget vehicula
                    dui. Quisque nec varius urna. Nam auctor arcu ut urna congue, a interdum magna vehicula.
                    Pellentesque vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                    lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl egestas tempus
                    pulvinar et purus.
                  </p>
                </blockquote>
                <p class="margin">
                  Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed magna sem, egestas sit amet pretium non,
                  hendrerit et justo. Pellentesque sed interdum urna. Vivamus vitae pulvinar metus. Proin eu metus lectus. Fusce
                  ut commodo lacus. In eu vulputate nisi, quis aliquam quam. Praesent sit amet diam vitae massa auctor dapibus.
                  Suspendisse aliquam a nunc convallis auctor. Etiam bibendum egestas elementum. Quisque purus lacus, hendrerit
                  vel sodales eu, commodo at justo. Curabitur ac sapien cursus, viverra enim ac, consequat erat. In dapibus nec
                  erat nec consectetur.
                </p>
                <p class="margin">
                  Maecenas vel rutrum nunc, non euismod odio. Suspendisse gravida sollicitudin purus. Sed et faucibus nunc.
                  Sed tempor urna id interdum tempus. Nulla sed neque a odio ullamcorper pellentesque. Morbi id tempus purus.
                  Donec volutpat, velit eu aliquam lacinia, dui dui dictum mi, ut placerat odio lorem id velit. Nam venenatis
                  nisi odio, mattis porta mauris pretium quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                  posuere cubilia Curae; Nullam ut mauris nec lectus pretium euismod ut consectetur dui. Quisque tempus tellus in
                  odio scelerisque commodo.
                </p>
                <p class="margin">
                  In sit amet semper magna. Donec vel lectus sed justo feugiat vestibulum. Morbi sollicitudin orci arcu, sed
                  semper magna posuere vel. Duis nec congue ipsum. Quisque id tellus vitae sem suscipit pretium et sit amet dolor.
                  Vivamus condimentum venenatis commodo. Nam a risus et massa faucibus eleifend vel quis lectus. Aliquam suscipit
                  orci massa, eget elementum turpis dapibus ac. Etiam tincidunt tortor elit. Vestibulum volutpat turpis vitae ante
                  interdum dapibus. Praesent eleifend adipiscing odio, ac dignissim urna porta a. Suspendisse quis nulla sed magna
                  mollis cursus at vitae ante. Donec vitae augue feugiat, condimentum purus vel, tincidunt neque. Suspendisse potenti.
                </p>
                <p class="margin">
                  Suspendisse et gravida felis. Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit a odio laoreet,
                  at viverra velit volutpat. Vestibulum non massa congue, dictum odio eget, convallis mi. Aliquam elementum tortor
                  sed ante egestas volutpat. Curabitur semper lobortis nunc, at auctor est congue in. Interdum et malesuada fames ac
                  ante ipsum primis in faucibus. Nullam dui diam, interdum sed mi nec, tincidunt vestibulum felis.
                </p>
                <p class="margin">
                  Morbi consequat purus elit, nec placerat ante commodo ac. Donec nec massa et eros ornare euismod vel sed turpis.
                  Vestibulum id sollicitudin elit. Duis ac mi lorem. Donec semper auctor dolor, nec condimentum urna viverra sed.
                  Proin egestas turpis ut urna aliquet blandit. Nam pretium, enim ac faucibus vestibulum, mauris turpis fringilla
                  nulla, sagittis pharetra velit orci ac nisi. Cras id eros facilisis, porttitor diam quis, suscipit lectus.
                </p>
                <p class="margin">
                  Maecenas iaculis vel erat scelerisque pulvinar. Duis vestibulum odio ac enim dictum, nec blandit nisi tempor.
                  Donec tristique metus quis pharetra volutpat. Integer at aliquet mauris. Integer lacinia ipsum vel ornare gravida.
                  Vivamus id eleifend erat. Duis auctor at mauris at tincidunt. Ut lorem sem, ullamcorper id odio ac, molestie molestie
                  quam. Sed et sapien eros. In tincidunt erat quis ante convallis viverra. Sed mi eros, condimentum et accumsan vitae, accumsan quis elit.
                </p>
              </div>
            </div>
            <div class="author-about">
              <div class="image-contain">
                <img src="assets/image/blog-author-person-1.jpg" alt="blog-author-person-1"/>
              </div>
              <div class="about">
                <p class="name">
                  <span>About &#45;</span>
                  <span>Jessica Venus</span>
                </p>
                <p class="occupation">
                  Web Designer
                </p>
                <p class="description">
                  Suspendisse et gravida felis. Proin ac euismod magna. Aenean eu mi leo.
                  Vivamus semper elit a odio laoreet, at viverra velit volutpat. Vestibulum
                  non massa congue, dictum odio eget, convallis mi. Aliquam elementum tortor
                  sed ante egestas volutpat. Curabitur semper lobortis nunc, at auctor est
                  congue in. Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet.
                </p>
                <a href="#" class="read-more">Read More <span class="fa fa-arrow-circle-right"></span></a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 comments-and-post">
            <div class="line-separator-full"><span></span></div>
            <div class="container-comments">
              <div class="comments">
                <div class="image-contain">
                  <img src="assets/image/blog-comments-person-1.jpg" alt="blog-comments-person-1"/>
                </div>
                <div class="about">
                  <p class="name">
                    <span>Sanatos Alin</span>
                  </p>
                  <p class="posting-date">
                    June 25 2017
                  </p>
                  <p class="description">
                    Suspendisse et gravida felis. Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit a
                    odio laoreet, at viverra velit volutpat. Vestibulum non massa congue, dictum odio eget,
                    convallis mi. Aliquam elementum tortor sed ante egestas volutpat. Curabitur semper lobortis
                    nunc, at auctor est congue in. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Nullam dui diam, interdum sed mi nec, tincidunt vestibulum felis.Suspendisse et gravida felis.
                    Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit a odio laoreet, at viverra velit
                    volutpat. Vestibulum non massa congue, dictum odio eget, convallis mi.
                  </p>
                  <a href="#" class="reply">Reply <span class="fa fa-reply"></span></a>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="comments">
                <div class="image-contain">
                  <img src="assets/image/blog-comments-person-2.jpg" alt="blog-comments-person-2"/>
                </div>
                <div class="about">
                  <p class="name">
                    <span>Ciorap Alina</span>
                  </p>
                  <p class="posting-date">
                    June 23 2017
                  </p>
                  <p class="description">
                    Suspendisse et gravida felis. Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit a
                    odio laoreet, at viverra velit volutpat. Vestibulum non massa congue, dictum odio eget,
                    convallis mi. Aliquam elementum tortor sed ante egestas volutpat. Curabitur semper lobortis
                    nunc, at auctor est congue in. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Nullam dui diam, interdum sed mi nec, tincidunt vestibulum felis.Suspendisse et gravida felis.
                    Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit a odio laoreet, at viverra velit
                    volutpat. Vestibulum non massa congue, dictum odio eget, convallis mi.
                  </p>
                  <a href="#" class="reply">Reply <span class="fa fa-reply"></span></a>
                  <div class="clearfix"></div>
                </div>
                <div class="comments child-comment">
                  <div class="image-contain">
                    <img src="assets/image/blog-comments-person-3.jpg" alt="blog-comments-person-3"/>
                  </div>
                  <div class="about">
                    <p class="name">
                      <span>Puia Cocos</span>
                    </p>
                    <p class="posting-date">
                      2 hours ago
                    </p>
                    <p class="description">
                      Suspendisse et gravida felis. Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit a odio laoreet,
                      at viverra velit volutpat. Vestibulum non massa congue, dictum odio eget, convallis mi. Aliquam elementum
                      tortor sed ante egestas volutpat. Curabitur semper lobortis nunc, at auctor est congue in. Interdum et
                      malesuada fames ac ante ipsum primis in faucibus.Suspendisse et gravida felis. Proin ac euismod magna. Aenean
                      eu mi leo. Vivamus semper elit a odio laoreet, at viverra velit volutpat.
                    </p>
                    <a href="#" class="reply">Reply <span class="fa fa-reply"></span></a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="comments child-comment">
                    <div class="image-contain">
                      <img src="assets/image/blog-comments-person-2.jpg" alt="blog-comments-person-2"/>
                    </div>
                    <div class="about">
                      <p class="name">
                        <span>Ciorap Alina</span>
                      </p>
                      <p class="posting-date">
                        1 hours ago
                      </p>
                      <p class="description">
                        Suspendisse et gravida felis. Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit a odio laoreet, at viverra
                        velit volutpat. Vestibulum non massa congue, dictum odio eget, convallis mi. Aliquam elementum tortor sed ante egestas
                        volutpat. Curabitur semper lobortis nunc, at auctor est congue in. Interdum et malesuada fames ac ante ipsum primis
                        in faucibus.Nullam dui diam, interdum sed mi nec, tincidunt vestibulum felis.
                      </p>
                      <a href="#" class="reply">Reply <span class="fa fa-reply"></span></a>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="comments">
                <div class="image-contain">
                  <img src="assets/image/blog-comments-person-4.jpg" alt="blog-comments-person-4"/>
                </div>
                <div class="about">
                  <p class="name">
                    <span>Semafor Ciorina</span>
                  </p>
                  <p class="posting-date">
                    June 21 2017
                  </p>
                  <p class="description">
                    Suspendisse et gravida felis. Proin ac euismod magna. Aenean eu mi leo. Vivamus semper elit
                    a odio laoreet, at viverra velit volutpat. Vestibulum non massa congue, dictum odio eget,
                    convallis mi. Aliquam elementum tortor sed ante egestas volutpat. Curabitur semper lobortis
                    nunc, at auctor est congue in. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Nullam dui diam, interdum sed mi nec, tincidunt vestibulum felis.
                  </p>
                  <a href="#" class="reply">Reply <span class="fa fa-reply"></span></a>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="line-separator-full"><span></span></div>
            <div class="add-comment">
              <form class="row form-2">
                <div class="form-group pl0 col-sm-4 col-xs-12">
                  <input type="text" class="form-control" id="name" placeholder="Your Name...">
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                  <input type="email" class="form-control" id="email" placeholder="Your Email...">
                </div>
                <div class="form-group pr0 col-sm-4 col-xs-12">
                  <input type="text" class="form-control" id="website" placeholder="Your Website...">
                </div>
                <div class="form-group plr0 col-sm-12 col-xs-12">
                  <textarea rows="4" cols="50" class="form-control" id="messages" placeholder="Your Message..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">POST COMMENT</button>
              </form>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT BLOG POST ==========-->