<!--========== START COMPONENT BLOG POST TEXT ==========-->
  <div class="component-blog-post-text">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 post-article post-slider">
          <div class="row">
            <div class="col-sm-1 col-xs-12 details-posts">
              <div class="date-post">
                <div class="day-contain"><span class="day">25</span></div>
                <div class="month-year-contain">
                  <span class="month">feb</span>
                  <span class="year">2017</span>
                </div>
              </div>
              <div class="type-posts">
                <span class="fa fa-pencil"></span>
              </div>
            </div>
            <div class="col-sm-11 col-xs-12 container-article">
              <div class="title-post">
                <h1>Post With Text</h1>
              </div>
              <div class="posting-data">
                <ul>
                  <li>
                    <span>Posted by </span>
                    <span class="fa fa-user"></span>
                    <span>Admin</span>
                  </li>
                  <li class="separator-bar">
                    <span>&#47;</span>
                  </li>
                  <li>
                    <span class="fa fa-tags"></span>
                    <span>Photography, Art, Sport</span>
                  </li>
                  <li class="separator-bar">
                    <span>&#47;</span>
                  </li>
                  <li>
                    <span class="fa fa-folder-open"></span>
                    <span>10</span>
                    <span>Comments</span>
                  </li>
                </ul>
              </div>
              <div class="text-contain">
                <p>
                  Curabitur ultrices gravida orci, sed vehicula ligula placerat sed. Aenean egestas turpis quis consequat suscipit.
                  Etiam imperdiet diam quis urna euismod laoreet. Quisque eget vestibulum mi, volutpat porttitor enim. In elementum
                  elementum arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque
                  euismod ligula velit, elementum consectetur tortor blandit at. Quisque eros sem, mattis at hendrerit at, gravida in tortor.
                </p>
              </div>
              <a href="blog-post.html" class="read-more">Read More <span class="fa fa-arrow-circle-right"></span></a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT BLOG POST TEXT ==========-->