<!--========== START COMPONENT BOXES STYLE 2 ==========-->
<div class="component-boxes-style-2">
  <div class="container padding-in-box-100">
    <div class="title">
      <h2>Boxes Style 2</h2>
    </div>
    <div class="line-separator h80"><span></span></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="icon">
          <span class="fa fa-tint"></span>
          <div class="arrow-bar"></div>
        </div>
        <h3>Brand & Identity</h3>
        <p>
          Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
        </p>
      </div>
      <div class="col-sm-3">
        <div class="icon">
          <span class="fa fa-tablet"></span>
          <div class="arrow-bar"></div>
        </div>
        <h3>Web Design</h3>
        <p>
          Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
        </p>
      </div>
      <div class="col-sm-3">
        <div class="icon">
          <span class="fa fa-rocket"></span>
          <div class="arrow-bar"></div>
        </div>
        <h3>Web Development</h3>
        <p>
          Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
        </p>
      </div>
      <div class="col-sm-3">
        <div class="icon">
          <span class="fa fa-umbrella"></span>
          <div class="arrow-bar"></div>
        </div>
        <h3>Logo Design</h3>
        <p>
          Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
        </p>
      </div>
    </div>
  </div>
</div>
<!--========== END COMPONENT BOXES STYLE 2 ==========-->