<!--========== START COMPONENT ELEMENT TABS ==========-->
  <div class="component-element-tabs">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Tabs</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div class="row">
        <div class="col-sm-12">
          <div class="tab tab-1">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li>
                <a href="#page-1" data-toggle="tab">
                  <span class="fa fa-coffee"></span>
                  Illustrator
                </a>
              </li>
              <li class="active">
                <a href="#page-2" data-toggle="tab">
                  <span class="fa fa-globe"></span>
                  Profile
                </a>
              </li>
              <li>
                <a href="#page-3" data-toggle="tab">
                  <span class="fa fa-puzzle-piece"></span>
                  Messages
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane" id="page-1">
                <p>
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus. Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                </p>
              </div>
              <div class="tab-pane active" id="page-2">
                <p>
                  Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus. Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue.
                </p>
              </div>
              <div class="tab-pane" id="page-3">
                <p>
                  Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="tab tab-2">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li>
                <a href="#page-4" data-toggle="tab">
                  <span class="fa fa-coffee"></span>
                  Illustrator
                </a>
              </li>
              <li class="active">
                <a href="#page-5" data-toggle="tab">
                  <span class="fa fa-globe"></span>
                  Profile
                </a>
              </li>
              <li>
                <a href="#page-6" data-toggle="tab">
                  <span class="fa fa-puzzle-piece"></span>
                  Messages
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane" id="page-4">
                <p>
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus. Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                </p>
              </div>
              <div class="tab-pane active" id="page-5">
                <p>
                  Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus. Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue.
                </p>
              </div>
              <div class="tab-pane" id="page-6">
                <p>
                  Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="tab tab-3">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li>
                <a href="#page-7" data-toggle="tab">
                  <span class="fa fa-coffee"></span>
                  Illustrator
                </a>
              </li>
              <li class="active">
                <a href="#page-8" data-toggle="tab">
                  <span class="fa fa-globe"></span>
                  Profile
                </a>
              </li>
              <li>
                <a href="#page-9" data-toggle="tab">
                  <span class="fa fa-puzzle-piece"></span>
                  Messages
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane" id="page-7">
                <p>
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus. Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                </p>
              </div>
              <div class="tab-pane active" id="page-8">
                <p>
                  Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus. Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue.
                </p>
              </div>
              <div class="tab-pane" id="page-9">
                <p>
                  Cras vitae pretium
                  ipsum, id mattis justo. Suspendisse eget vehicula dui. Quisque nec varius
                  urna. Nam auctor arcu ut urna congue, a interdum magna vehicula. Pellentesque
                  vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
                  lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl
                  egestas tempus pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit.
                  Sed id malesuada turpis. Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
                  Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus.
                  Sed placerat leo lorem, sagittis dapibus nibh accumsan aliquet. Quisque
                  nibh urna, mollis sed nulla ac, molestie porta risus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT ELEMENT TABS ==========-->