<!--========== START COMPONENT ELEMENT BUTTONS ==========-->
  <div class="component-element-buttons">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Buttons</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="row">
        <div class="col-sm-3">
          <ul>
            <li>
              <button class="btn btn-primary btn-lg">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-primary">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-primary btn-xs">BUTTON</button>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li>
              <button class="btn btn-primary-inverse btn-lg">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-primary-inverse">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-primary-inverse btn-xs">BUTTON</button>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li>
              <button class="btn btn-secondary btn-lg">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-secondary">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-secondary btn-xs">BUTTON</button>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li>
              <button class="btn btn-secondary-inverse btn-lg">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-secondary-inverse">BUTTON</button>
            </li>
            <li>
              <button class="btn btn-secondary-inverse btn-xs">BUTTON</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT ELEMENT BUTTONS ==========-->