<!--========== START COMPONENT ELEMENT QUOTE ==========-->
  <div class="component-element-block-quote">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Blockquote</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div class="row">
        <div class="col-sm-12">
          <blockquote>
            <div class="quote"><span>&#8220;</span></div>
            <p>Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus. Sed placerat leo
              lorem, sagittis dapibus nibh accumsan aliquet. Quisque nibh urna, mollis sed nulla ac,
              molestie porta risus. Cras vitae pretium ipsum, id mattis justo. Suspendisse eget vehicula
              dui. Quisque nec varius urna. Nam auctor arcu ut urna congue, a interdum magna vehicula.
              Pellentesque vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
              lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl egestas tempus
              pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit. Sed id malesuada turpis.
              Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
            </p>
          </blockquote>
        </div>
        <div class="col-sm-12">
          <blockquote class="block-quote-primary">
            <div class="quote"><span>&#8220;</span></div>
            <p>Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus. Sed placerat leo
              lorem, sagittis dapibus nibh accumsan aliquet. Quisque nibh urna, mollis sed nulla ac,
              molestie porta risus. Cras vitae pretium ipsum, id mattis justo. Suspendisse eget vehicula
              dui. Quisque nec varius urna. Nam auctor arcu ut urna congue, a interdum magna vehicula.
              Pellentesque vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
              lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl egestas tempus
              pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit. Sed id malesuada turpis.
              Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
            </p>
          </blockquote>
        </div>
        <div class="col-sm-12">
          <blockquote class="block-quote-secondary">
            <div class="quote"><span>&#8220;</span></div>
            <p>Maecenas suscipit felis quis lectus tempus, vel tristique ligula cursus. Sed placerat leo
              lorem, sagittis dapibus nibh accumsan aliquet. Quisque nibh urna, mollis sed nulla ac,
              molestie porta risus. Cras vitae pretium ipsum, id mattis justo. Suspendisse eget vehicula
              dui. Quisque nec varius urna. Nam auctor arcu ut urna congue, a interdum magna vehicula.
              Pellentesque vitae pretium augue. Vivamus accumsan vehicula erat, ut ultrices neque tincidunt
              lobortis. Nam elementum elit id interdum porttitor. Suspendisse nec metus at nisl egestas tempus
              pulvinar et purus. Integer mollis vehicula sem hendrerit suscipit. Sed id malesuada turpis.
              Suspendisse congue molestie dolor nec tempus. Nullam nec congue felis.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT ELEMENT QUOTE ==========-->