<!--========== START COMPONENT ELEMENT ALERT BOXES ==========-->
  <div class="component-element-alert-boxes">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Alert boxes</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Normal Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Succes Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Info Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Warning Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
        </div>
        <div class="col-sm-6">
          <div class="alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="fa fa-angle-double-right"></span>
            <strong>Normal Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="fa fa-check"></span>
            <strong>Succes Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="fa fa-info"></span>
            <strong>Info Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="fa fa-warning"></span>
            <strong>Warning Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="fa fa-times"></span>
            <strong>Error Alert</strong> - Praesent hendrerit sem pulvinar gravida.
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT ELEMENT ALERT BOXES ==========-->