<!--========== START COMPONENT ELEMENT SOCIAL ICONS ==========-->
  <div class="component-element-social-icons">
    <div class="container padding-in-box">
      <div class="title">
        <h2>Social Icons</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="content">
        <ul class="social-icon icon-small">
          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#"><span class="fa fa-github-alt"></span></a></li>
          <li><a href="#"><span class="fa fa-flickr"></span></a></li>
          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
          <li><a href="#"><span class="fa fa-pinterest-square"></span></a></li>
          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
          <li><a href="#"><span class="fa fa-skype"></span></a></li>
        </ul>

        <ul class="social-icon icon-large">
          <li><a href="#"><span class="fa fa-apple"></span></a></li>
          <li><a href="#"><span class="fa fa-dropbox"></span></a></li>
          <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
          <li><a href="#"><span class="fa fa-tumblr"></span></a></li>
          <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#"><span class="fa fa-vimeo-square"></span></a></li>
          <li><a href="#"><span class="fa fa-flickr"></span></a></li>
          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="#"><span class="fa fa-github-alt"></span></a></li>
          <li><a href="#"><span class="fa fa-youtube"></span></a></li>
          <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          <li><a href="#"><span class="fa fa-skype"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
<!--========== END COMPONENT ELEMENT SOCIAL ICONS ==========-->