<!--========== START COMPONENT ELEMENT LIST ITEMS ==========-->
  <div class="component-element-list-items">
    <div class="container padding-in-box">
      <div class="title">
        <h2>List Items</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="contain">
        <div class="row">
          <div class="col-sm-3">
            <ul>
              <li>
                <div>
                  <span class="fa fa-heart"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-heart"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-heart"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-heart"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul>
              <li>
                <div>
                  <span class="fa fa-chevron-circle-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-chevron-circle-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-chevron-circle-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-chevron-circle-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul>
              <li>
                <div>
                  <span class="fa fa-chevron-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-chevron-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-chevron-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-chevron-right"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul>
              <li>
                <div>
                  <span class="fa fa-check-circle"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-check-circle"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-check-circle"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
              <li>
                <div>
                  <span class="fa fa-check-circle"></span>
                </div>
                <p>Sed congue volutpat</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT ELEMENT LIST ITEMS ==========-->