<!--========== START COMPONENT FEATURES DEVICES ==========-->
  <div class="component-features-devices">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="devices" data-story-tale="bounceInUp">
            <div class="iMac" data-story-tale-quick data-story-tale-container="bounceInLeft">
              <img src="assets/image/_device-iMac.png" alt="iMac"/>
            </div>
            <div class="iPad" data-story-tale-quick data-story-tale-container="bounceInUp">
              <img src="assets/image/_device-iPad.png" alt="iPad"/>
            </div>
            <div class="iPhone" data-story-tale-container="bounceInRight">
              <img src="assets/image/_device-iPhone.png" alt="iPhone"/>
            </div>
            <div class="badge" data-story-tale-container="tada">
              <p>100%</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="title">
            <h2>Features of <span>STAR-X</span></h2>
          </div>
          <div class="description">
            <p>
              <span>Lorem ipsum dolor sit </span> amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
              quis nostrud <span>exerci tation</span> ullamcorper suscipit lobortis nisl
              ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
            </p>
          </div>
          <div>
            <ul class="icon-list">
              <li>
                <span class="hint--primary hint--top" data-hint="A Template that feels like home">
                  <span class="fa fa-home">&nbsp;</span>
                </span>
              </li>
              <li>
                <span class="hint--primary hint--top" data-hint="All you ever needed !">
                  <span class="fa fa-smile-o">&nbsp;</span>
                </span>
              </li>
              <li>
                <span class="hint--primary hint--top" data-hint="Responsive !">
                  <span class="fa fa-refresh">&nbsp;</span>
                </span>
              </li>
              <li>
                <span class="hint--primary hint--top" data-hint="Lightning fast">
                  <span class="fa fa-lightbulb-o">&nbsp;</span>
                </span>
              </li>
              <li>
                <span class="hint--primary hint--top" data-hint="24/7 Email Support">
                  <span class="fa fa-mail-reply">&nbsp;</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="button">
            <a href="#" class="btn btn-primary">START NOW!</a>
            <span class="glyphicon glyphicon-minus"></span>
            <a href="#" class="btn btn-default">READ MORE!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT FEATURES DEVICES ==========-->