<!--========== START COMPONENT HEADLINE ==========-->
  <div class="component-headline">
    <div class="container">
      <h2>We are <span>STAR-X</span></h2>
      <p>
        Created and designed to be <span>customisable</span>, Star-X is made to fulfill your desires so that you can achieve maximum satisfaction.
      </p>
      <p>
        Since the beginning of the time, many people struggled finding the <span>perfect template</span>.
        We all know that perfection is unobtainable, but our template is the closest as it can get to it.
        Many of our customers describe <span>Star-X as one of the best templates</span>.
        With a multitude of features, Star-X is clearly one of<span> the best one page business templates</span>.
      </p>
    </div>
  </div>
<!--========== END COMPONENT HEADLINE ==========-->