<!--========== START COMPONENT OUR TEAM ROW ==========-->
  <div class="component-our-team-row" id="team">
    <div class="container padding-in-box-100-120 ">
      <div class="title">
        <h2>Our Team</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="team-talon-row">
            <div class="photo-container">
              <figure>
                <img src="assets/image/team-image-1.jpg" alt="team-image"/>
              </figure>
            </div>
            <div class="name-and-occupation">
              <h3>Bastien Gratien</h3>
              <p class="occupation">
                <span>-</span>
                Designer
                <span>-</span>
              </p>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus risus, elementum eu neque.</p>
            </div>
            <div class="social">
              <ul>
                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                <li><a href=""><span class="fa fa-pinterest"></span></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="team-talon-row">
            <div class="photo-container">
              <figure>
                <img src="assets/image/team-image-2.jpg" alt="team-image"/>
              </figure>
            </div>
            <div class="name-and-occupation">
              <h3>Miguela Damhnait</h3>
              <p class="occupation">
                <span>-</span>
                Designer
                <span>-</span>
              </p>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus risus, elementum eu neque.</p>
            </div>
            <div class="social">
              <ul>
                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                <li><a href=""><span class="fa fa-pinterest"></span></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="team-talon-row">
            <div class="photo-container">
              <figure>
                <img src="assets/image/team-image-3.jpg" alt="team-image"/>
              </figure>
            </div>
            <div class="name-and-occupation">
              <h3>Liorite Caprice</h3>
              <p class="occupation">
                <span>-</span>
                Designer
                <span>-</span>
              </p>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus risus, elementum eu neque.</p>
            </div>
            <div class="social">
              <ul>
                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                <li><a href=""><span class="fa fa-pinterest"></span></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="team-talon-row">
            <div class="photo-container">
              <figure>
                <img src="assets/image/team-image-4.jpg" alt="team-image"/>
              </figure>
            </div>
            <div class="name-and-occupation">
              <h3>Xenia Filomena</h3>
              <p class="occupation">
                <span>-</span>
                Designer
                <span>-</span>
              </p>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus risus, elementum eu neque.</p>
            </div>
            <div class="social">
              <ul>
                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                <li><a href=""><span class="fa fa-pinterest"></span></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT OUR TEAM ROW ==========-->