<!--========== START COMPONENT PORTFOLIO ==========-->
<div class="component-portfolio" id="portfolio">
  <div class="content-portfolio padding-in-box-top">
    <div class="title">
      <h2>Portfolio</h2>
    </div>

    <div class="line-separator h80"><span></span></div>

    <div id="portfolio-venus" class="portfolio-venus portfolio-venus-view-items layout-gallery-space">
      <div class="portfolio-venus-filter">
        <ul>
          <li class="active" data-group="all"><a href="#">Show all</a></li>
          <li data-group="people"><a href="#">People</a></li>
          <li data-group="illustrator"><a href="#">Illustrator</a></li>
          <li data-group="sport"><a href="#">Sports</a></li>
          <li data-group="design"><a href="#">Design</a></li>
        </ul>
      </div>
      <div class="portfolio-venus-items portfolio-venus-columns-4">
        <div class="portfolio-venus-item" data-groups='["illustrator" , "design"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-1.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-1.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>design</span>
                      <span class="separator-tags"> &#47; </span>
                      <span>illustrator</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-venus-item" data-groups='["people" , "sport"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-2.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-2.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>people</span>
                      <span class="separator-tags"> &#47; </span>
                      <span>sport</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-venus-item" data-groups='["people"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-3.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-3.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>people</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-venus-item" data-groups='["people" , "sport"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-4.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-4.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>people</span>
                      <span class="separator-tags"> &#47; </span>
                      <span>sport</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-venus-item" data-groups='["people"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-5.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-5.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>people</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-venus-item" data-groups='["illustrator" , "design"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-6.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-6.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>design</span>
                      <span class="separator-tags"> &#47; </span>
                      <span>illustrator</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-venus-item" data-groups='["people" , "sport"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-7.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-7.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>people</span>
                      <span class="separator-tags"> &#47; </span>
                      <span>sport</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-venus-item" data-groups='["people" , "sport"]'>
          <div class="portfolio-venus-overlay-wrapper clearfix">
            <img class="portfolio-venus-img" src="assets/image/portfolio-image-8.jpg" alt="portfolio-image">
            <div class="portfolio-venus-overlay">
              <a href="assets/image/portfolio-image-8.jpg" data-featherlight="image">
                <div class="sp-vertical-middle">
                  <div>
                    <p class="title-image">Smile With Passion</p>
                    <p class="tags">
                      <span>design</span>
                      <span class="separator-tags"> &#47; </span>
                      <span>illustrator</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========== END COMPONENT PORTFOLIO ==========-->