<!--========== START COMPONENT SEPARATOR PROGRESS ==========-->
  <div class="component-separator-progress" id="skills">
    <div class="container padding-in-box-100">
      <div class="title">
        <h2>Skill Bars 1</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="row">
        <div class="col-sm-3">
          <div class="progress-bar-round-container">
            <div class=" progress-bar-round" data-progress="30"></div>
          </div>
          <h3>Adobe Photoshop</h3>
          <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
        </div>
        <div class="col-sm-3">
          <div class="progress-bar-round-container">
            <div class="progress-bar-round" data-progress="52"></div>
          </div>
          <h3>Logo Design</h3>
          <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
        </div>
        <div class="col-sm-3">
          <div class="progress-bar-round-container">
            <div class="progress-bar-round" data-progress="75"></div>
          </div>
          <h3>Brand Indentity</h3>
          <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
        </div>
        <div class="col-sm-3">
          <div class="progress-bar-round-container">
            <div class="progress-bar-round" data-progress="100"></div>
          </div>
          <h3>Brand Marketing</h3>
          <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT SEPARATOR PROGRESS ==========-->