<!--========== START COMPONENT SKILLS BAR ==========-->
  <div class="component-skills-bar">
    <div class="container padding-in-box">
      <div class="title">
        <h2> Skill Bars 2</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div class="row">
        <div class="col-sm-6">
          <div>
            <p>Brand Identity</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
            </div>
          </div>
          <div>
            <p>Gardener</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
          </div>
          <div>
            <p>HTML 5</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <p>Photoshop</p>
            <div class="progress progress-white">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
            </div>
          </div>
          <div>
            <p>Illustrator</p>
            <div class="progress progress-white">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
          </div>
          <div>
            <p>Photography</p>
            <div class="progress progress-white">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--========== END COMPONENT SKILLS BAR ==========-->