<!--========== START COMPONENT SLIDER ==========-->
<div id="slider-contain" class="component-slider">
  <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(assets/image/slider-image-1.jpg);">
        <img src="assets/image/slider-patern-background.png" alt="img"/>
        <div class="pattern-background">
          <div class="carousel-caption">
            <div class="contain">
              <img class="logo-slider" src="assets/image/logo-slider.png" alt="Logo"/>
              <div class="title">
                <h1>WELCOME TO VENUS</h1>
              </div>
              <p class="description">
                &#34;All things are ready, if our mind be so.&#34;
              </p>
              <div class="button">
                <a href="#first-scroll" class="btn btn-default">MORE INFO</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url(assets/image/slider-image-2.jpg);">
        <img src="assets/image/slider-patern-background.png" alt="img"/>
        <div class="pattern-background">
          <div class="carousel-caption">
            <div class="contain">
              <img class="logo-slider" src="assets/image/logo-slider.png" alt="Logo"/>
              <div class="title">
                <h1>WE ARE CREATIVE</h1>
              </div>
              <p class="description">
                &#34;All things are ready, if our mind be so.&#34;
              </p>
              <div class="button">
                <a href="#first-scroll" class="btn btn-default">MORE INFO</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url(assets/image/slider-image-3.jpg);">
        <img src="assets/image/slider-patern-background.png" alt="img"/>
        <div class="pattern-background">
          <div class="carousel-caption">
            <div class="contain">
              <img class="logo-slider" src="assets/image/logo-slider.png" alt="Logo"/>
              <div class="title">
                <h1>WE ARE AWESOME</h1>
              </div>
              <p class="description">
                &#34;All things are ready, if our mind be so.&#34;
              </p>
              <div class="button">
                <a href="#first-scroll" class="btn btn-default">MORE INFO</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<!--========== END COMPONENT SLIDER ==========-->